<% nav_link_classes = 'block py-1 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400 md:py-3' %>
<% active_link_classes = 'bg-gray-100' %>
<header class="fixed float-left left-0 z-50" data-controller="header">
	<nav class="relative">
		<div id="main-nav" class="hidden md:block" data-header-target="mainNav">
			<%= render partial: 'shared/side_menu' %>
		</div>
		<div id="main-nav" class="w-full flex-grow sm:flex text-right sm:w-auto" data-header-target="mainNav">
			<div class="text-sm sm:flex-grow text-white">
				<div class="relative">
					<button class="fixed  navbar-burger flex items-center px-3 py-2 border rounded text-white border-white hover:text-white hover:border-white" data-action="click->header#toggleMobileNav">
						<%= image_tag("svgs/IconMenu.svg", alt: "Menu Hamburguesa", width: "30", height: "30") %>
					</button>
				</div>
			</div>
		</div>
	</nav>
</header>
