<div class="w-full my-5">
	<div class="flex justify-start items-center">
		<h1 class="font-bold text-4xl">Categorías</h1>
	</div>
	<div class="mt-5 overflow-x-auto rounded-lg shadow-md">
		<div class="w-full h-[50vh] flex flex-col">
			<div class="flex-1 bg-white overflow-auto">
				<table class="table-fixed min-w-full">
					<thead class="sticky top-0 bg-primary text-white">
						<tr>
							<th class="px-4 py-2 tracking-wider text-left">Nombre</th>
							<th class="px-4 py-2 tracking-wider">Fecha creación</th>
							<th class="px-4 py-2 tracking-wider">Acciones</th>
						</tr>
					</thead>
					<tbody class="bg-white overflow-auto">
                        <%= render 'form', category: @category %>
                        <%= turbo_frame_tag 'categories' do %>
                            <%= render @categories %>
                        <% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
