<div class="flex">
	<div class="mx-auto">
		<div class="text-center">
			<h3 class="text-xl mb-4">Editando usuario "<%= @user.email %>"</h3>
			<%= button_to "Delete", admin_user_path(id: @user.id), form: { data: { turbo_confirm: "¿Está seguro? esta acción eliminara el usuario permanentemente." } }, method: :delete, class: 'text-xs text-white bg-red-500 p-2 rounded-md' %>
		</div>
		<%= render 'profile', user: @user %>
	</div>
</div>
