<div class="flex">
	<div class="mx-auto">
		
<div class="text-center py-5 mb-5">
	<h3 class="text-xl mb-4">Editando usuario "<%= @user.email %>"</h3>
		<%= button_to "Eliminar", admin_user_path(id: @user.id), form: { data: { turbo_confirm: "¿Está seguro? esta acción eliminara el usuario permanentemente." } }, method: :delete, class: 'text-sm text-white bg-red-500 p-2 rounded-md hover:bg-primary-hover-700' %>
		</div>
		<%= render 'profile', user: @user %>
	</div>
</div>
