<div class="flex">
	<div class="mx-auto">
		<div class="text-center py-5 mb-5">
			<h3 class="text-xl mb-4">Editando usuario "<%= @user.email %>"</h3>
			<%= button_to "Eliminar", admin_user_path(id: @user.id), form: { data: { turbo_confirm: "¿Está seguro? esta acción eliminara el usuario permanentemente." } }, method: :delete, class: "rounded-lg ml-2 rounded-lg py-3 px-5 bg-red-500 text-white hover:bg-primary-hover-700 inline-block font-medium" %>
		</div>
		<%= render 'profile', user: @user %>
	</div>
</div>
